@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
      <h1 class="display-4">Universidad de El Salvador</h1>
        <h1 class="display-4">Facultad Multidisciplinaria Paracentral</h1>
          <h1 class="display-4">Departamento de informática</h1>

    <h1 class="display-4">Tarea final, base de datos</h1>
</div>
